absl-py==0.1.10
bleach==1.5.0
decorator==4.0.11
h5py==2.7.0
html5lib==0.9999999
Keras==2.1.4
Markdown==2.6.11
numpy==1.13.3
protobuf==3.5.1
pydot==1.0.29
pyparsing==2.1.10
PyYAML==3.12
scipy==0.18.1
six==1.10.0
tensorflow-gpu==1.5.0
tensorflow-tensorboard==1.5.1
virtualenv==15.1.0
Werkzeug==0.14.1
